<div id="idGeneratorTitle">
    CSV to Address Book Component
</div>

<hr>

<div id="buttons">

    <p style="font-weight: 500; font-family: Segoe UI; font-style: italic; font-size: 25px; color: red"> Please note: this is under construction and not a feature that is currently functional. </p>

    <p style="font-weight: 500; font-family: Segoe UI; font-style: italic; font-size: 25px; color: black"> This would allow the user to upload a CSV file and the system would parse it into an address book. </p>



    
</div>


