#terminal {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#outputWindow {
    display: inline-block;
    overflow: scroll;

    width: 500px;
    height: 400px;

    text-align: left;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
    background-color:rgb(44, 38, 38);
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(177, 168, 168);
}

#inputWindow {
    display: inline-block;
    overflow: scroll;

    width: 500px;
    height: 400px;
    
    text-align: left;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
    background-color:rgb(44, 38, 38);
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(177, 168, 168);

    margin-right: 10px;
}

#commandLine{

    display: flex;
}

#inputCommand
{
    display: inline-block;
    width: 490px;
    text-align: left;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
    background-color:rgb(44, 38, 38);
    border: none;
}