
<div id="generatorArea">
    
    
    <p style="font-weight: 500; font-style: italic; font-size: 25px"> Quick Gen </p>

    <hr style="height: 1px; background-color: black">

    <div id="inputCaption" >
        Type a Name in the Box, click Generate ID
    </div>

    <input id="textInputBox">
    
    <br>
    <br>
    <br>

    <div id="generateIdButtonContainer"> 
        <div id="generateIdButton" (click)="generateID()"  >
            Generate ID
        </div>
    </div>

    <div id="output">

    </div>
</div>