<div id="idGeneratorTitle">
    Phone and SSN Formatter
</div>

<hr>

<div id="buttons">

    <div id="quickGenButton" (click)="selectComponent('TerminalComponent')" class="button">
        Terminal
    </div>

    <div id="bulkGenButton" (click)="selectComponent('BulkGenComponent')" class="button">
        GUI
    </div>
    
    <div id="myIdsButton"  class="button">
        My Phone Numbers
    </div>
    

</div>


<div>
    <ng-container *ngComponentOutlet="selectedComponent"></ng-container>
</div>
