
<header id="header">

    matthewbisicchia.com

</header>

<div id="topSection">
    <div class="containerForBlurEffect">

    
        <div id="nameAndProfession">
            <div style="white-space: pre-wrap;">
                <div style="font-size:40px; font-weight: 500">Matthew Bisicchia</div>
            &#10;- Junior Engineer -</div>
        </div>


        <div id="profilePicture">
            <img id="profilePicture" src="..\assets\Matthew.png">
        </div>

        <!-- <div id="photoCredit">
            Photography courtesy of Michael Bisicchia
        </div> -->

        <div id="scrollDown">
            Scroll down to Learn More
        </div>

    </div>

</div>

<div id="middleSection">

    <div class="interests">Programmer & Electronics Enthusiast.</div>
    <div class="interests">Fascinated with Biology.</div>
    <div id="ethic"> Team Player & Self Driven. </div>

</div>

<div id="experienceToolsSection">

</div>

<div id="commentarySection" style="white-space: pre-wrap;">

    <h1>Thank you for stopping by.</h1>
    
    <br>

    <div>Feel free to explore below: the GitHub for this site, along with a custom RESTful API 
        application I built with Spring Boot/Hibernate, SQL, and AngularJS (My Apps Dashboard below).
        This is all powered by Amazon Web Services.
    </div>

    <br>
    <br>

    <div>While my plan is to continue using Node.js and React.js for building my personal website, especially
    as I have a Javascript Web Game Template I want to host- the site for now is implemented using 
    Spring Boot and Angular. 
    </div>

    <br>
    <br>

    <div>Below you can also find a link to my Resume.
    </div>

    <br>
    <br>

    <div>Photography courtesy of Michael Bisicchia.
    </div>


</div>

<div id="menuSection">

    <div id="items">
        <div class="item">

            <div class="itemTitle">GitHub for this Site</div>

            <div class="itemEntry">&#8226; Spring Boot Backend</div>
            <div class="itemEntry">&#8226; AngularJS Frontend</div>
            <div class="itemEntry">&#8226; SQL Database</div>
        </div>

        <div class="item">
            <div class="itemTitle">Apps Dashboard</div>

            <div class="itemEntry">&#8226; IDGenerator</div>

            <div class="itemEntry">&#8226; Terminal-based Phone and SSN Formatter</div>

            <div class="itemEntry">&#8226; CSV to Address Book</div>
        </div>

        <div class="item">
            <div class="itemTitle">Resume</div>

            <div class="itemEntry">&#8226; Experience</div>

            <div class="itemEntry">&#8226; Education</div>

            <div class="itemEntry">&#8226; Professional Development</div>
        </div>

    </div>

</div>
