<div id="terminal">
    <!-- <div class="caption">
        Output Window:
    </div>

    <div id="outputWindow">
        This is the output
    </div>

    <div class="caption">
        Input (Enter your Commands Here):    
    </div>

    <input id="inputWindow">

    <div class="caption">
        Press Enter to Execute
    </div> -->

    <div id="inputWindow">
        <!-- <div contenteditable="false">> 1</div>
        <div contenteditable="false">> 2</div>
        <div contenteditable="false">> 1</div>
        <div contenteditable="false">> 1</div> -->

        <div id="previousCommands">
            
        </div>

  
       <input value="> Insert Command Here, Press Enter to Execute" contenteditable="false" id="inputCommand">

       <!-- <textarea columns="1" rows="1">
           <div contenteditable="false">
               > 
           </div>
       </textarea> -->
    </div>

    <div id="outputWindow">
        This is the output window. 
    </div>

</div>

