<div id="generatorArea">

    <p style="font-weight: 500; font-style: italic; font-size: 25px"> Bulk Gen </p>

    <hr style="height: 1px; background-color: black">

    <div id="inputCaption" >
        Type a Name in each Box, click + Add Entry to add more entries for this bulk ID Generation
    </div>

    <div id="addEntryButtonContainer"> 

        <div id="addEntryButton" (click)="addEntry()">
            ➕ Add Entry
        </div>
    </div>

    <div id="inputBoxes">
  

        <input class="textInputBox">
        
        <br>

        <input class="textInputBox">
        
        <br>

        <input class="textInputBox">
        
        <br>

    </div>
 
    <div id="generateIdButtonContainer"> 

        <div id="generateIdButton">
            Generate IDs
        </div>
    </div>
</div>