#idGeneratorTitle {
    font-family: 'Segoe UI';    
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
}

#buttons {
    padding: 20px 40px 40px 40px;
    display: inline-block;
    user-select: none;
}

.button {
    cursor: pointer;
    background-color: rgb(209, 200, 200);
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
    font-family: 'Segoe UI';    
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(177, 168, 168);
    user-select: none;
}

.button:hover {
    background-color: rgb(165, 154, 154);
}

#myIdsButton {
    position: absolute;
    right: 40px;
    
}
